mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)



mixin image(path, className)
  img(src=require(`images/${path}`) class=className)



mixin social(className)
    - var icons = ["insta", "vk", "github"]
    - var link = ["#", "https://vk.ru", "#" ]
    ul.social__list
        each item, index in icons
            li(class="social__item social__item--" + className) 
                a.social__link(href=`${link[index]}` target="_blank")
                    +icon(item, "social__icon social__icon--" + className)



mixin nav(className, items, href)
    - var link = ["#promo", "#about", "#skills", "#work", "#reviews", "#contacts"];
    nav(class=`${className}`)
        ul(class=`${className}__list`)
            each item, index in items
                li(class=`${className}__item`)
                    a(href=`${link[index]}` class=`${className}__link`)= item


  

        
    

